<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Manifestation Application</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8ea013bdc7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@700;800&display=swap" rel="stylesheet">


</head>

<body>
  <div class="container">


    <div class="banner">
      <div class="bannerContent">
        <img src="banner.png" alt="a graphic that reads trust your intuition, a manifestatin app">
      </div>
    </div>

    <div class="signinContainer">
      <div class="signIn">

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

      </div>
    </div>

  </div>
</body>

</html>